#cloud-config
hostname: lightedge
fqdn: lightedge.example.com
manage_etc_hosts: true
users:
  - name: ubuntu
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin
    home: /home/ubuntu
    shell: /bin/bash
    lock_passwd: false
    ssh-authorized-keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCynjUXsyht/y7ZReU3MklnnI/FXuj126xMF6xjU2inVKyoIBPYtTVooGEdUeKVb6kJUT+bPIkwO4bZHdxtULzNhMREU4AprylURvqalgWvDGZYL+v/VIg6AFCMPEtTeIMYxVuj+ciTAU8qLvO0jUl+GNPDVE1lFv4MwNv94DBFP4mBK3sQF283VOEUx+bt0gtO5vazHEB5NA5G4S6tBGmAUWBish88pZvZMrfXEVkpmljec+WQcWVm3YBm0yePckqe14JfTosSSTFCJIxHOJyKxFyusMKsK9asEIdVxhChtKI3e1AQRRQ1Ml2RRbOPsT9Agka9Ro5zt3jShUn4B+jCJbFG2CyRfHew+zxlsC75H4b9euPLNIPZN6VAYI5lG7lKTSlqlB9Eox0EkCjPeJ9CP2CpEcyZOZW+x7e738V6+orCrlwtJAFWemXuNSQTKeglo4uMmqHsHOpbhMnl/ysWWh/x3JCfpBpOqQ1/bhiCEHL91XQEFc//cFG/Y+/I8OdkH1gRqlegoFfliKbVAiN5EkLjTV7zb6ZkCd2NI2ikvQ3QaMukpQawRDSHMrYnaG8sMG/rGnU1l9qtocdFUb3cRUI7yz2iaeESQK3OvAS2jR69uL7aLAj5ZOogFkczUwn/Tiexum9CJzSrkDq/nxGCrzJuKPt0ZjNWVyMVhzCzbQ== lightedge
# only cert auth via ssh (console access can still login)
ssh_pwauth: false
disable_root: false
chpasswd:
  list: |
     ubuntu:linux
  expire: False
#runcmd:
# -  [touch, logstest]
# -  [sudo, ip, a, add, 192.168.122.158/24, dev, enp1s0]
# -  [sudo, ip, link, set, enp1s0, up]
# -  [sudo, ip, route, add, 0.0.0.0/0, via, 192.168.122.1]
package_update: true
packages:
  - qemu-guest-agent
# written to /var/log/cloud-init-output.log
final_message: "This the TEST_LIGHTEDGE VM up after $UPTIME seconds"
